@model ContatoViewModel
<div class="row py-5">

    @foreach (var user in Model.ListaContatos)
    {
        <div class="col-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src=@user.imageUser alt="avatar"
                         class="rounded-circle img-fluid" style="width: 150px; height:150px;" />
                    <h5 class="my-3">@user.Name</h5>
                    <p class="text-muted mb-1">@user.Phone</p>
                    <p class="text-muted mb-4">@user.Email</p>
                    <div class="d-flex justify-content-center mb-2">
                        @if (user.IsFavorite)
                        {

                            <a class="btn rounded-pill favorite"><i class="fa fa-heart"></i></a>
                        }
                        else
                        {
                         <a class="btn btn-primary rounded-pill not-favorite"><i class="fa fa-heart"></i></a>
                            
                        }

                        <a asp-action="Edit" asp-route-id="@user.Id" asp-controller="Contato" class="btn btn-outline-primary ms-1"><i class="fa fa-pencil"></i></a>
                        <a asp-action="Delete" asp-route-id="@user.Id" asp-controller="Contato" class="btn btn-outline-primary ms-1"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>