@model ContatoViewModel
<div class="row py-5">

    <!-- Tabs navs -->
    <ul class="nav nav-tabs nav-fill mb-3" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
            <a asp-controller="Contato" asp-action="SwitchList" asp-route-tab="tab-contacts" class="nav-link active"
               role="tab"
               aria-controls="ex2-tabs-1"
               aria-selected="true">Contacts</a>
        </li>
        <li class="nav-item" role="presentation">
            <a asp-controller="Contato" asp-action="SwitchList" asp-route-tab="tab-favorites" class="nav-link"
               aria-controls="ex2-tabs-2"
               aria-selected="false">Favorites</a>
        </li>
        
    </ul>
    <!-- Tabs navs -->
    <!-- Tabs content -->
    <div class="tab-content" id="ex2-content">
        <div class="tab-pane fade show active"
             id="ex2-tabs-1"
             role="tabpanel"
             aria-labelledby="ex2-tab-1">
             <div class="row"> 


            @foreach (var user in Model.ListaContatos)
    {
        <div class="col-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src=@user.imageUser alt="avatar"
                         class="rounded-circle img-fluid" style="width: 150px; height:150px;" />
                    <h5 class="my-3">@user.Name</h5>
                    <p class="text-muted mb-1">@user.Phone</p>
                    <p class="text-muted mb-4">@user.Email</p>
                    <div class="d-flex justify-content-center mb-2">
                        @if (user.IsFavorite)
                        {
                            <a asp-action="ToggleFavorite" asp-controller="Contato" asp-route-id="@user.Id" class="btn rounded-pill favorite"><i class="fa fa-heart"></i></a>
                        }
                        else
                        {
                            <a asp-action="ToggleFavorite" asp-controller="Contato" asp-route-id="@user.Id" class="btn rounded-pill "><i class="fa-regular fa-heart"></i></a>
                            
                        }

                        <a asp-action="Edit" asp-route-id="@user.Id" asp-controller="Contato" class="btn btn-outline-primary ms-1"><i class="fa fa-pencil"></i></a>
                        <a asp-action="Delete" asp-route-id="@user.Id" asp-controller="Contato" class="btn btn-outline-primary ms-1"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
            </div>
        </div>
    }
             </div>

        </div>
        <div class="tab-pane fade"
             id="ex2-tabs-2"
             role="tabpanel"
             aria-labelledby="ex2-tab-2">
             <div class="row">
             @foreach (var user in Model.ListaContatos)
            {
                <div class="col-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src=@user.imageUser alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px; height:150px;" />
                            <h5 class="my-3">@user.Name</h5>
                            <p class="text-muted mb-1">@user.Phone</p>
                            <p class="text-muted mb-4">@user.Email</p>
                            <div class="d-flex justify-content-center mb-2">
                                @if (user.IsFavorite)
                                {
                                    <a asp-action="ToggleFavorite" asp-controller="Contato" asp-route-id="@user.Id" class="btn rounded-pill favorite"><i class="fa fa-heart"></i></a>
                                }
                                else
                                {
                                    <a asp-action="ToggleFavorite" asp-controller="Contato" asp-route-id="@user.Id" class="btn rounded-pill "><i class="fa-regular fa-heart"></i></a>

                                }

                                <a asp-action="Edit" asp-route-id="@user.Id" asp-controller="Contato" class="btn btn-outline-primary ms-1"><i class="fa fa-pencil"></i></a>
                                <a asp-action="Delete" asp-route-id="@user.Id" asp-controller="Contato" class="btn btn-outline-primary ms-1"><i class="fa fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            
             </div>
        </div>
       
    </div>
    <!-- Tabs content -->

    
</div>